[Unit]
Description=oad-watcher-agent-kafka
After=network.target

[Service]
Type=simple
ExecStart=WATCHER_HOME/components/kafka/startup.sh
ExecReload=WATCHER_HOME/components/kafka/restart.sh
ExecStop=WATCHER_HOME/components/kafka/shutdown.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
